@import "../../helps/var.scss";
@import "../../helps/mixin.scss";

@include b(table) {
  & table {
    box-sizing: border-box;
    background-color: $--color-white;
    border-collapse:collapse;
    border: 1px solid black;
    & thead{
      color:$--color-primary;
    }
    & td {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      //border-bottom: 1px solid #ebeef5;

    }
  }
}
