@import "../../helps/var.scss";
@import "../../helps/mixin.scss";

@include b(form-item) {
  margin:30px 10px;
  &>*{
    display: inline-block;

  }
  @include e(error){
    display: block;
    color:red;
  }

  @include when(error){
    & .r-input__inner > input{
      border-color: $--color-danger;
    }

  }
  @include when(success){
    & .r-input__inner > input{
      border-color: $--color-success;
    }

  }
}
